body {
	margin: 20px;
}

p {
	color: gray;
}

em {
	color: black;
}

blockquote em {
	font-style: normal;
}

blockquote {
	font-style: italic;
	border-left: 4px gray solid;
	margin-left: 0px;
	padding-left: 20px;

}

